<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="inner">
            <h2 class="title">Food Essay</h2>
            <ul class="card-list">
                <li class="card">
                    <figure class="card-image">
                        <img src="image/1.jpg" alt="food">
                    </figure>
                    <h3 class="card-title">황금빛 여름열매, 코리안 멜론</h3>
                    <p class="card-text">용암참외, 미니참외, 반전참외</p>
                </li>
                <li class="card">
                    <figure class="card-image">
                        <img src="image/2.jpg" alt="food">
                    </figure>
                    <h3 class="card-title">여름밤의 홈술파티
                    </h3>
                    <p class="card-text">원소주 페어링</p>
                </li>
                <li class="card">
                    <figure class="card-image">
                        <img src="image/3.jpg" alt="food">
                    </figure>
                    <h3 class="card-title">떠나요, 하와이 미식여행</h3>
                    <p class="card-text">집에서 간편히 쓱</p>
                </li>
            </ul>
            <button class="btn">
                Food Essay 전체보기 &gt;
            </button>
        </div>
    </div>
</body>

</html>