<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <section>
        <figure data-aos="zoom-in-up" data-aos-duration="2000">
            <img src="image/cat.jpg" alt="cat">
        </figure>
        <div id="data" class="content" data-cat="자바스크립트..죽이고십다">
            <h2 data-aos="fade-down" data-aos-duration="2000">자바 스크립트</h2>
            <p data-aos="fade-down" data-aos-duration="2000">어려워요</p>
        </div>
    </section>

    <section>
        <figure data-aos="zoom-in-down" data-aos-duration="2000">
            <img src="image/cattt.jpg" alt="cat">
        </figure>
        <div class="content">
            <h2 data-aos="fade-up" data-aos-duration="2000">깜고</h2>
            <p data-aos="fade-up" data-aos-duration="2000">귀여워</p>
        </div>
    </section>

    <section>
        <figure data-aos="zoom-in-up" data-aos-duration="2000">
            <img src="image/catttt.jpg" alt="cat">
        </figure>
        <div class="content">
            <h2 data-aos="fade-down" data-aos-duration="2000">오늘 저녁</h2>
            <p data-aos="fade-down" data-aos-duration="2000">뭐 먹지</p>
        </div>
    </section>

    <section>
        <figure data-aos="zoom-in-down" data-aos-duration="2000">
            <img src="image/cattttt.jpg" alt="cat">
        </figure>
        <div class="content">
            <h2 data-aos="fade-up" data-aos-duration="2000">학생의 3대 필수 요소</h2>
            <p data-aos="fade-up" data-aos-duration="2000">카페인 알코올 니코틴</p>
        </div>
    </section>
    <script src="script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>