<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <section>
        <figure data-aos="zoom-in">
            <img src="image/1.jpg" alt="">
        </figure>
        <div data-aos="fade-down" class="content">
            <h2 >Lorem, ipsum dolor.</h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda minima debitis nobis! In, optio corporis earum quam velit, veritatis iusto dolorum nostrum nihil suscipit eius hic alias iure? Ex, ut.
        </div>
    </section>
    <section>        <figure data-aos="zoom-in">
            <img src="image/2.webp" alt="">
        </figure>
        <div data-aos="fade-down" class="content">
            <h2 >Lorem, ipsum dolor.</h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda minima debitis nobis! In, optio corporis earum quam velit, veritatis iusto dolorum nostrum nihil suscipit eius hic alias iure? Ex, ut.
        </div>
    </section>
    <section>
        <figure data-aos="zoom-in">
            <img src="image/3.webp" alt="">
        </figure>
        <div data-aos="fade-down" class="content">
            <h2 >Lorem, ipsum dolor.</h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda minima debitis nobis! In, optio corporis earum quam velit, veritatis iusto dolorum nostrum nihil suscipit eius hic alias iure? Ex, ut.
        </div>
    </section>
    <section>
        <figure data-aos="zoom-in">
            <img src="image/4.webp" alt="">
        </figure>
        <div data-aos="fade-down" class="content">
            <h2 >Lorem, ipsum dolor.</h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda minima debitis nobis! In, optio corporis earum quam velit, veritatis iusto dolorum nostrum nihil suscipit eius hic alias iure? Ex, ut.
        </div>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  AOS.init({
    duration: 1000,
    delay:500
  });
</script>
</body>
</html>